<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/modeldb']"><mat-icon>list</mat-icon></a>
</div>
<div class="row">
  <div class="col-sm-8">
    <!-- <label for="searchByName">Search by model-name:</label>
    <input class="form-control" type="text" placeholder="Model Name" [(ngModel)]="searchCriteria" [ngModelOptions]="{standalone: true}"/>
    <button class="btn btn-default" (click)="getExperimentsearch(id)">Search</button>
    <button class="btn btn-default" (click)="clearSearch()">Clear</button> -->
  </div>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h2>{{experiment.model_name}}</h2></mat-card-title>
    <mat-card-subtitle>{{experiment.framework}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>Model Name:</dt>
      <dd>{{experiment.model_name}}</dd>
      <dt>Framework:</dt>
      <dd>{{experiment.framework}}</dd>
      <dt>Size:</dt>
      <dd>{{experiment.size}}</dd>
      <dt>Epochs</dt>
      <dd>{{experiment.epochs}}</dd>
      <dt>Layers Count:</dt>
      <dd>{{experiment.layersCount}}</dd>
      <dt>Input Tensors:</dt>
      <dd>{{experiment.InputTensors}}</dd>
      <dt>Output Tensor:</dt>
      <dd>{{experiment.OutputTensor}}</dd>
      <dt>Optimizer:</dt>
      <dd>{{experiment.Optimizer}}</dd>
      <dt>Loss Function:</dt>
      <dd>{{experiment.LossFunction}}</dd>
      <dt>Accuracy Value:</dt>
      <dd>{{experiment.AccuracyValue}}</dd>
      <dt>Loss Value:</dt>
      <dd>{{experiment.LossValue}}</dd>
    </dl>
  </mat-card-content>
</mat-card>
